.advantages {
  min-height: 473px;
  padding: 71px 0 67px 0;
  background: #f6f6f6;
  text-align: center;
  &__block {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
  }
  &__icon {
    width: 30%;
    // Icon text
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: #0d0d0d;
    &_animated {
      animation: heartbeat 1s ease infinite;
    }
    span {
      display: block;
      margin: 35px 0 20px 0;
      font-weight: 700;
      font-size: 18px;
      color: #0d0d0d;
    }
  }
  &__link {
    color: $main-color;
    &:hover {
      color: $main-color;
    }
  }
}
