.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba($color: #000000, $alpha: 0.56);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 382px;
  min-height: 402px;
  background: #f2f2f2;
  padding: 35px 40px 40px;
  &__close {
    position: absolute;
    right: -36px;
    top: 0;
    color: $main-color;
    font-size: 40px;
    line-height: 8px;
    cursor: pointer;
  }
  &__subtitle {
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #0d0d0d;
  }
  &__descr {
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    color: #0d0d0d;
  }
  &_mini {
    min-height: 143px;
  }
  label.error {
    padding: 8px;
    margin-bottom: 14px;
    border: 1px solid $main-color;
    text-align: center;
    font-size: 14px;
    color: red;
  }
}

#register,
#order,
#thanks {
  display: none;
}
